body {
    font-family: 'Libre Baskerville', sans-serif;
}

.bold {
    font-weight: bold;
}

.light_p-text {
    color: #808080;
}

.lessBlack_p-text {
    color: #2d2d2d;
}

.credit-color {
    background-color: rgba(0, 128, 0, 0.596);
}

.debit-color {
    background-color: rgba(255, 0, 0, 0.596);
}

.bal-format {
    line-height: 1.5;
    font-family: Benton-regular;
}

.dashboard_container {
    position: relative;
    overflow: auto;
}

.ti {
    cursor: pointer;
}

.dashboard_Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 6.5vh;
    box-shadow: 0px 0px 5px #808080;
    position: fixed;
    top: 0;
    right: 0;
    padding: .670rem;
    z-index: 900;
    background-color: #fff;
}

.handburger_menu {
    color: var(--primary-color_blue);
}

.more_menu {
    transform: rotate(90deg);
    color: var(--primary-color_blue);
}

.actions_menu {
    display: none;
}

.actions_menu.open {
    display: flex;
    justify-content: right;
    gap: .5rem;
    padding-block-start: .5rem;
    padding-block-end: .5rem;
    position: fixed;
    top: 40px;
    right: 5px;
    width: 9rem;
    background-color: #fff;
    flex-direction: column-reverse;
    box-shadow: 1px 1px 4px #808080;

}

.icon_ {
    background-color: #fff;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.icon_:hover {
    background-color: #e0e0e0;
}

#closeMenu {
    position: fixed;
    top: 20px;
    left: 265px;
    z-index: 2000;
    color: var(--primary-color_blue);
}

.dashboard_aside {
    display: none;
}

.dashboard_aside.open {
    background-color: white;
    position: fixed;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px #808080;
    z-index: 1000;
    transition: all .5s ease-in-out;
    overflow-x: hidden;
    padding: .5rem;
}

.dashboard_aside hr {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
}

/* .dashboard_aside:hover {
    width: 250px;
} */



.dashboard_logo {
    flex: .4;
    background-color: white;
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    position: sticky;

}

.dashboard_logo .logo_img {
    width: 3rem;

}

.dashboard_menu {
    background-color: white;
    flex: 2;
    width: 100%;
    position: relative;

}

.link_text {
    color: #808080;
    font-weight: normal;
    width: 300px;


}

.nav_list_item_link {
    display: flex;
    padding: .80rem;
    width: 100%;
    cursor: pointer;
    align-items: center;
    gap: 2.5rem;
    user-select: none;
}

.nav_list_item_link:hover {
    background-color: rgba(0, 0, 255, .5);
}



.nav_list_item_link i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin-left: 1rem;

}

.dashboard_info-section {
    display: flex;
    position: relative;

}

/* .dashboard_Header {
    display: none;
} */

.main_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 4rem;

    padding-bottom: 1rem;
    gap: 1rem;


}

.container {
    width: 90%;
}

.container .bvn-info,
.container.acct-statement-info {
    border-top: .3rem solid var(--primary-color_blue);
    border-radius: .10em;
    box-shadow: 1px 1px 5px gray;
    /* display: flex; */
    justify-content: center;
    padding: .5rem;

}

/* .show_bvn_card {
    display: flex;
    flex-direction: column;
} */

.bvn_view-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* gap: .3rem; */
}

.bvn_box {
    width: 100%;
    padding: .5rem;
    max-width: 120px;
    height: 20px;
    display: flex;
    margin-top: .5rem;
    align-items: center;
    justify-content: center;
}

.acct_officer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .bvn-info .bvn {
    border: none;
    outline: none;
    text-align: center;
    padding-top: .2rem;
    margin-top: .2rem;
}

.container.acct-balance-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;

}

.show_bvn_container {
    padding: .5rem;
}

.container>.acct-bal-info-figures {
    border-left: .3rem solid var(--primary-color_blue);
    border-radius: .10em;
    box-shadow: 1px 1px 5px gray;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;

}

.acct-balance-info_card-header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.userName {
    text-wrap: wrap;
    text-transform: uppercase;
    flex-shrink: 1;
    font-weight: 600;
}

.get_statement_card {
    flex-shrink: 0;
}

.get_acct_statement-link {
    display: inline-block;
    text-wrap: nowrap;
}

.acct-balance-info_card-main {
    border: 1px dashed var(--primary-color_blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    flex-direction: column;
    margin-top: .850rem;
}

.acct-balance-info_card-main .effective-bal-amount {
    /*  font-size: 1.5rem; */

}

.acct-balance-info_card-footer {
    display: flex;
    justify-content: space-between;
}

.acct-statement-info-graphics {
    border-top: .3rem solid green;
    border-radius: .10em;
    box-shadow: 0px 0px 5px gray;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    gap: 1rem;
}

.info-graphics-charts {
    display: flex;
    flex-direction: column;
}

.info-graphics-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: .5rem;
}

.info-graphic-cards {
    /*  border: 1px dashed green; */
}

.info-graphics-deposits,
.info-graphics-withdrawals {
    box-shadow: 0px 0px 2px gray;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    align-items: center;
    /* justify-content: center; */
}

.info-graphics-withdrawals {
    box-shadow: 0px 1px 5px gray;
}

.graphic-symbols {
    display: flex;
    gap: .3rem;
}

.credit_dot,
.debit_dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.info-graphics-charts {}

.chart_keys {
    justify-content: center;

    padding: 1rem;
    gap: .3rem;
}

.credit_sqr,
.debit_sqr {
    display: inline-block;
    width: 1.5rem;
    padding: .4rem;
}

.container.acct-statement-info {
    padding: 0;
}

.acct-statement_table-head {
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
    justify-content: center;

}

.acct-statement-table {
    column-gap: 0px;
    row-gap: 0;
    text-align: left;

}

.acct_statement-table {
    width: 100%;
    padding: .5rem;
}

.table_body tr:nth-child(odd) {
    background-color: #8080801e;

}

.table_body tr>td:nth-child(1) {
    text-align: center;
}

.table_body .debit-sqr {
    border-radius: .2rem;
    padding: .2rem;
}


@media screen and (min-width: 465px) {
    .container .bvn-info .bvn-info_card {}

    .show_bvn_card {
        display: flex;
        width: 100%;
        overflow: hidden;
        gap: .2rem;
    }

    .bvn_view-card {
        /*  gap: .3rem; */
        flex: .5;
        width: 40%;
        align-items: center;
        justify-content: space-evenly;

    }

    .btn.show_bvn,
    .bvn_box {
        padding: .3rem;
        width: 7rem;
        max-width: inherit;
        outline: none;
        border: 0;
        margin: 0;
        text-align: center;
    }

    .bvn_box {
        width: 8rem;

    }

    .acct_officer-card {
        flex: 2;

        width: 60%;
        align-items: center;

    }

    .contact-text {
        font-size: .8rem;
    }
}